@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #304352;
    --background: 219 96.3% 98.5%;
    --foreground: 219 2.6% 1%;

    --muted: 219 2.6% 92.5%;
    --muted-foreground: 219 1.3% 42.5%;

    --popover: 219 69.2% 92.5%;
    --popover-foreground: 219 2.6% 1.25%;

    --card: 219 69.2% 92.5%;
    --card-foreground: 219 2.6% 1.25%;

    --border: 219 7.6% 90%;
    --input: 219 7.6% 90%;

    --primary: 219 26% 25%;
    --primary-foreground: 219 0.52% 92.5%;

    --secondary: 219 1.3% 96.25%;
    --secondary-foreground: 219 2.56% 12.5%;

    --accent: 219 1.3% 96.25%;
    --accent-foreground: 219 2.56% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 219 26% 25%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: #108dc7;

    --background: 211 55.25% 3.36%;
    --foreground: 211 8.5% 97.1%;

    --muted: 211 42.5% 12.6%;
    --muted-foreground: 211 8.5% 54.2%;

    --popover: 211 48% 5.46%;
    --popover-foreground: 211 8.5% 97.1%;

    --card: 211 48% 5.46%;
    --card-foreground: 211 8.5% 97.1%;

    --border: 211 42.5% 12.6%;
    --input: 211 42.5% 12.6%;

    --primary: 211 85% 42%;
    --primary-foreground: 211 8.5% 97.1%;

    --secondary: 211 42.5% 12.6%;
    --secondary-foreground: 211 8.5% 97.1%;

    --accent: 211 42.5% 12.6%;
    --accent-foreground: 211 8.5% 97.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 211 8.5% 97.1%;

    --ring: 211 85% 42%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.custom-block-quote::before {
  content: "";
  display: inline-block;
  margin-right: 0.5rem;
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(var(--primary));

}